#header{
    width: 100%;
    height: 100px;
    margin: 0px auto;
}

nav{
    width: 1024px;
    margin: 0px auto;
}

nav a{
    margin-right: 10px;
}

#wrapper{
    width: 1024px;
    margin: 0px auto;
}

#footer .right{
    width: 512px;
    float: left;
    background: #ccc;
}
#footer .left{
    width: 512px;
    float: left;
    background: #bbb;
}